.projects--page{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 2rem;
    overflow: scroll;
    overflow-x: hidden;
    /* justify-content: center; */
    
}

.projects--page .left--container,
.projects--page .right--container
{
padding: 0;
margin: 0;
position: relative;
}
.projects--page::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 5%;
    height: auto;
    width: 1.5px;
    margin-top: -4.4rem;
    background-color: var(--color-main-1);
    z-index: -1;
    transition: width 0.3s ease;
}

.project--container-left{
    border-top: 1.5px solid var(--color-main-1);
    border-right: 1.5px solid var(--color-main-1);
    padding: 2rem;
    padding-left: 0;
    padding-bottom: 1.5rem;
}

.project--container-right{
    border-top: 1.5px solid var(--color-main-1);
    border-left: 1.5px solid var(--color-main-1);
    padding: 2rem;
    padding-right: 0;
    padding-bottom: 1.5rem;
}
.item--bottom--left,.item--bottom--right{
    border-bottom: 1.5px solid var(--color-main-1);
}

.left--container .projects--heading{
    text-align: right;
    margin-right: 1.8rem;
    color: var(--color-main-1);
    text-transform: uppercase;
}
.left--container h1{ 
    font-size: 2.1rem;
    margin-top: -0.4rem;
}

.left--container h2{
    font-size: 1.3rem;
    padding: 0.5rem 0;
}

.left--container h5{
    margin-bottom: 1rem;
}

.sub--on--right{
    color: var(--color-main-1);
    margin-top: 0.5rem;
    margin-left: 1.8rem;
    text-transform: uppercase;
}

.on--right{
    margin-left: 1.8rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .projects--page .left--container,
    .projects--page .right--container
    {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    }

    .left--container .projects--heading{
        margin-right: 0rem;
    }
    .project--container-left, .project--container-right{
        border-top: 1.5px solid var(--color-main-1);
        border-right: 1.5px solid var(--color-main-1);
        border-left: none;
    }
    .item--bottom--left{
        border-bottom: none;
    }
    .project--container-right{
        padding: 2rem;
        padding-left: 0;
    }
    .sub--on--right{
        margin-right: 0;
        text-align: right;
    }
    
    .on--right{
        margin-right: 0;
        text-align: right;
    }
    
}

@media (max-width: 768px) {

    .projects--page{
        padding: 1rem;
    }

    .left--container h1{ 
        font-size: 1.7rem;
        margin-top: -0.4rem;
    }
    
    .left--container h2{
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }
    
    .left--container h5{
        padding-bottom: 0.9rem;
        font-size: 0.7rem;
    }
    .left--container .projects--heading{
        margin-right: 0rem;
        margin-bottom: 0;
    }
    .sub--on--right{
        text-align: right;
        margin-right: 0;
        padding: 0;
        font-size: 1rem;
    }
    
    .on--right{
        text-align: right;
        margin-right: 0;
        padding: 0;
        font-size: 1.6rem;
    }
    .project--container-left, .project--container-right{
        padding: 1rem;
        padding-left: 0;
        background-color: rgb(200, 231, 164);
    }
    .project--container-left{
        padding-bottom: 0rem;
    }
}