.logo {
  position: fixed;
  width: 130px;
  bottom: 30px;
  left: 50px;
  z-index: 99;
}

.navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
}
.navbar .navbar--link{
    text-decoration: none;
    color: var(--color-main-1);
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.navbar .navbar--link::after{
    display: none;
    content: '';
    position: absolute;
    left: 45%;
    bottom: 20%;
    height: 10%;
    width: 10%;
    background-color: var(--color-main-1);
    text-align: center;
    transition: color 0.3s ease;
}

.navbar .navbar--link:hover::after{
    display: block;
}



.navbar .navbar--active::after{
    content: '';
    position: absolute;
    left: 45%;
    bottom: 20%;
    height: 10%;
    width: 10%;
    background-color: var(--color-main-1);
    text-align: center;
    display: block;
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
        left: 20px;
        bottom: 20px;
      }
}